@tailwind base;

html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

body {
    overflow: overlay;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #45f6f6;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar {
    height: 8px;
    width: 9px;
}

div::selection,
h1::selection,
p::selection,
span::selection,
text::selection,
pre::selection,
td::selection {
    background: #79ffe1;
}

svg,
svg text,
svg tspan {
    user-select: none !important;
}

img,
button {
    -webkit-user-drag: none;
    user-select: none;
}
